/* Some style implementation below based upon
    Materialize CSS (materializecss.com)            */
/* All style inspired by Google's Material UI       */
/* AUTHOR: Emily Grimes                             */

@import url('https://fonts.googleapis.com/css?family=Roboto');


form {
  text-align: left;
}

ul.flashes {
  list-style-type: none;
  font-size: .5em;
  color: rgb(16, 103, 225);
}

.page-container {
  font-family: 'Roboto', Helvetica, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  /*width: 50%;*/
}

.alt-page-container {
  border: none;
  margin: 16px auto;
  background-color: rgba(16, 103, 225, 0.25);
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 50%;
}

.item {
  border: solid 1px lightgray;
  /*width: 100%;*/
  text-align: center;
  font-size: 2em;
  margin-bottom: 16px;
}

.admin-item {
  border: dashed 1px lightgray;
  text-align: left;
  font-size: .66em;
  margin: 20px 0 16px 0;
  padding: 20px;
  flex-direction: column;
  flex-wrap: wrap;
  height: 300px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.button {
  height: 45px;
  border-radius: 2px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  background: rgb(16, 103, 225);
  width: 50%;
  justify-content: center;
  margin: 0 auto;
  font-family: 'Roboto', Helvetica, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  box-shadow:
    0 16px 24px 2px rgba(0,0,0,0.14),
    0 6px 30px 5px rgba(0,0,0,0.12),
    0 8px 10px -5px rgba(0,0,0,0.3);
}

a .button-text {
  text-decoration: none;
  position: relative;
  opacity: 1;
  font-size: 14px;
  letter-spacing: 0px;
  font-weight: 500;
  user-select: none;
  color: rgb(255, 255, 255);
}

.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
    color: white;
    background-color: red;
}

h1 {
  margin-top: 20px;
}

input {
  margin-bottom: 20px;
  border: solid black;
  border-width: 0 0 1px 0;
  background-color: white;
  width: 90%;
  height: 5vh;
  font-size: 1em;
}


select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  width: 45%;
  display: inline-block;
  height: 400px;
  padding: 10px;
}

#add, #rm {
  border-radius: 25px;
  width: 25%;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  margin: 1% 10%;
}

div#add {
  color: white;    
  background: black; 
 
}

div#rm {
  background: white;
  color: black; 
  border: solid 1px black;
}


select:focus, textarea:focus {
  outline: 0;
}

textarea {
  resize: none;
  border-width: 1px;
  margin-bottom: 20px;
  width: 90%;

}

span.data {
  font-size: 1em;
  color: red;
}

a {
  text-decoration: none;
  color: black;
}

a.img-link span {
  text-transform: uppercase;
  opacity: 0;
}

a.img-link:hover span {
  opacity: 1;
  font-size: 1em;
}

a.img-link-display-on-hover img,
a.img-link-display-on-hover span {
  display: none;
}

a.img-link-display-on-hover:hover img,
a.img-link-display-on-hover:hover span {
  display: block;
  margin: 0 auto;
}

a.img-link-display-on-hover:hover h1 {
  display: none;
}

.page-container a:-webkit-any-link {
    text-decoration: none;
}


input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 3rem;
  font-size: 1rem;
  margin: 0 0 20px 0;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: initial;
    transition-delay: initial;
  -webkit-writing-mode: horizontal-tb;
}

.scrolly-list {
  border-top: 1px solid rgb(217, 217, 217);
  border-right: 2px solid rgb(217, 217, 217);
  border-bottom: 1px solid rgb(217, 217, 217);
  border-left: 2px solid rgb(217, 217, 217);
  overflow: scroll;
  width: 325px;
  margin: 0 auto;
  padding: 0;
  max-height: 180px;
}

.admin-item > .scrolly-list {
	margin: 0;
	height: 128px;
	width: 100%;
}

.scrolly-list-item {
  position: relative;
  font-size: 24px;
  text-align: left;
}


.scrolly-list-item img {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  position: absolute;
  top: 16px;
  left: 16px;
}

.chart {
  display: block;
  margin: 0 auto;
}


